window {
  font-weight: 100;
  font-size: 14px;
  font-family: "JetBrains Mono", monospace;
}

window.bar {
  background: #000;
  color: #fff;
  padding: 8px 12px;
}

window.bar image {
  margin-right: 6px;
}

window.dashboard {
  margin-bottom: 36px;
  /* must be the same as (bar heightRequest - 4)px */
  background: linear-gradient(transparent, #000);
}

window.dashboard .stats-container {
  padding: 12px;
}

window.dashboard .stats-container box.stat :first-child {
  font-weight: 300;
}

menubutton.bluetooth>button {
  background: none;
  background-image: none;
  border: none;
  box-shadow: none;
  color: #fff;
  transition: 100ms;
}

menubutton.bluetooth:hover>button {
  background: #aaaaaa33;
}

.bluetooth popover>* {
  background: #000;
  color: #fff;
  border: 1px solid #fff;
}


.bluetooth popover>* button {
  background: #000;
  border: 1px solid #aaa;
  color: #fff;
  transition: 150ms;
}

.bluetooth popover>* button:hover {
  background: #222;
  border-color: #fff;
}

.bluetooth popover>* button.connected {
  border-color: #0f0;
  background: #030;
}

.bluetooth popover>* button.connected:hover {
  background: #252;
}

.bluetooth popover>* button .battery {
  margin-left: 8px;
}

.no-devices-found {
  color: #aaa;
  margin: 4px 12px;
}
