// https://gitlab.gnome.org/GNOME/gtk/-/blob/gtk-3-24/gtk/theme/Adwaita/_colors-public.scss
$fg-color: #{"@theme_fg_color"};
$bg-color: #{"@theme_bg_color"};

window.bar {
  background: transparent;
  color: $fg-color;
  padding: 8px 12px;

  font-weight: 100;
  font-size: 14px;
  font-family: "JetBrains Mono", monospace;

  image {
    margin-right: 6px;
  }
}
